.box-nav {
    margin: auto;
    padding: 1.5rem 1rem;
    justify-content: space-between;
    align-items: center;

    ul {
        align-items: center;

        .logo {
            a {
                display: flex;
                align-items: center;
                gap: .5rem;

                .pi-video {
                    font-size: 2rem;
                    color: #f97316;
                }
            }
        }
    }

    .box-search {
        align-items: center;

        div>input {
            width: 16rem;
            font-size: .875rem;
            padding: .25rem 1rem;
            background-color: #2d3748;
            border-radius: 10rem;
        }
    }
}