.box-container {
    background: linear-gradient(270deg, rgba(92, 76, 105) 0%, rgba(39, 31, 31) 100%);

    .box-header-details {
        display: flex;
        justify-content: space-evenly;

        .box-image {
            width: 267px;
            height: 400px;

            img {
                border-radius: 2%;
                background-size: cover;
            }
        }
    }
}