.movie-cast {
    border-bottom-width: 1px;
    border-color: #2d3748;

    .cast-box {
        padding: 4rem 1rem;
        margin: 0 auto;

        h2 {
            font-size: 2.25rem;
            font-weight: 600;
        }
    }
}