.box-title {
    .box-titles-content {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 2.2rem;

        h1 {
            font-weight: 700;
        }

        .year {
            font-weight: 400;
            opacity: .8;
        }

        .hours {
            font-size: 1.1rem;
            font-weight: 400;
            opacity: .6;
        }
    }

    .date-completed {
        font-size: 1rem;
        opacity: .6;
    }
}