:root {
    --primary-color: #1a2643;
    --primary-hover: #253567;
    --disabled-color: #A0A0A0;
    --text-size: 0.875rem;
    --border-radius: 0.5rem;
}

.box {
    padding: 4rem 1rem 0 1rem;
    margin: 0 auto;

    .content-list {
        .box-select {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5rem;

            button {
                font-weight: 600;
                padding: 1rem 1.15rem;
                border-radius: var(--border-radius);
                transition: background-color 150ms ease-in-out;
            }

            .active {
                background-color: var(--primary-color);

                &:hover {
                    background-color: var(--primary-hover);
                }
            }
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--text-size);
        line-height: 1.25rem;
        padding: 3rem 0;

        .pagination-body {
            display: flex;
            align-items: center;
            gap: 2rem;

            .select-items {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                select {
                    background-color: var(--primary-color);
                }
            }

            .arrows {
                button {
                    background-color: var(--primary-color);
                    padding: 0.5rem;
                    border-radius: var(--border-radius);

                    &:hover {
                        background-color: var(--primary-hover);
                    }

                    &:disabled {
                        background-color: var(--disabled-color);
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .box {
        .content-list {
            text-align: center;

            .box-select {
                display: grid;
                grid-template-columns: 150px 150px;
                gap: 0;
            }
        }

        .pagination {
            flex-direction: column-reverse;

            .pagination-body {
                flex-direction: column-reverse;
                gap: 1rem;

                .select-items {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}