.box {
    padding: 4rem 1rem 0 1rem;
    margin: 0 auto;

    .content-list {
        .box-select {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5rem;

            button {
                font-weight: 600;
                padding: 1rem 1.15rem;
                border-radius: .5rem;
                transition: background-color 150ms ease-in-out;
            }

            .active {
                background-color: #1a2643;

                &:hover {
                    background-color: #253567;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .box {
        section {
            text-align: center;
        }
    }
}