.info-social-media {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    i {
        font-size: 1.5rem;
    }
}

.details-peaple {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: .875rem;
}