.info-social-media {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    i {
        font-size: 1.5rem;
    }
}

.details-peaple {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: .875rem;
    margin-top: .3rem;
}

.image-cast {
    img {
        border-radius: .6rem;
    }
}

@media(max-width: 767px) {
    .image-cast {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .details-peaple {
        span {
            margin: 0;
        }
    }

    .credits {
        text-align: center;

        a {
            text-decoration: underline;
        }
    }
}