.movie-cast {
    border-bottom-width: 1px;
    border-color: #2d3748;

    .cast-box {
        padding: 4rem 1rem;
        margin: 0 auto;
        z-index: 10;

        h2 {
            font-size: 2.25rem;
            font-weight: 600;
        }

        .slider-box {
            text-align: center;

            .cast {
                margin-top: 2rem;

                a {
                    img {
                        border-radius: .6rem;
                    }
                }

                .info-cast {
                    margin-top: .5rem;

                    a {
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                        margin-top: .5rem;
                    }

                    div {
                        font-size: .875rem;
                        line-height: 1.25rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .movie-cast {
        .cast-box {
            text-align: center;

            .slider-box {
                .cast {
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: center !important;
                    justify-content: center !important;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}