.box-nav {
    margin: auto;
    padding: 1.5rem 1rem;
    justify-content: space-between;
    align-items: center;

    ul {
        align-items: center;

        .logo {
            a {
                display: flex;
                align-items: center;
                gap: .5rem;

                .pi-video {
                    font-size: 2rem;
                    color: #f97316;
                }
            }
        }
    }

    .language {
        align-items: center;

        .selected-languages {
            display: flex;
            align-items: center;
            gap: .3rem;
            cursor: pointer;
        }

    }
}