.info {
    border-bottom-width: 1px;
    border-color: #2d3748;

    .info-box {
        padding: 4rem 1rem;
        margin: 0 auto;

        .info-image {
            img {
                border-radius: .6rem;
            }
        }
    }
}


@media(max-width: 767px) {
    .info {
        .info-box {
            text-align: center;

            .info-image {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}