.loading {
    width: 3.75rem;
    height: 3.75rem;
    background-color: transparent;
    display: block;
    border-radius: 50%;
    border: .75rem solid #09d;
    border-top: .60rem solid transparent;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}