.info {
    border-bottom-width: 1px;
    border-color: #2d3748;

    .info-box {
        padding: 4rem 1rem;
        margin: 0 auto;
    }
}


@media(max-width: 767px) {
    .info {
        .info-box {
            text-align: center;
        }
    }
}