.box-genres {
    margin: .625rem 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .genre {
        display: flex;
        align-items: center;

        span {
            margin: 0 .2rem;
            background-color: #211c1c;
            border-radius: 2rem;
            padding: .2rem .8rem;
            text-transform: capitalize;
            font-weight: 400;
            border: 1px solid #717171;
        }
    }

    .pulse {
        background-color: rgb(2, 104, 2);
        width: 3.4rem;
        height: 3.4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 0;

        &::before,
        &::after {
            content: "";
            position: absolute;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            background-color: rgb(2, 104, 2);
            z-index: -1;
            opacity: .7;
        }

        &::before {
            animation: pulse 2s ease-out infinite;
        }

        &::after {
            animation: pulse 2s 1s ease-out infinite;
        }
    }

}

.p-dialog-mask {
    .p-dialog {
        .p-dialog-header { 
            background-color: #000;
            color: #e5e7eb;
        }
        .p-dialog-content {
            padding: 0;
        }
    }
}

@keyframes pulse {
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}